[submodule "3rd/SukiUI"]
	path = 3rd/SukiUI
	url = https://github.com/NodisAI/SukiUI
[submodule "3rd/VYaml"]
	path = 3rd/VYaml
	url = https://github.com/NodisAI/VYaml
[submodule "3rd/MessagePack-CSharp"]
	path = 3rd/MessagePack-CSharp
	url = https://github.com/NodisAI/MessagePack-CSharp
[submodule "3rd/XtermSharp"]
	path = 3rd/XtermSharp
	url = https://github.com/migueldeicaza/XtermSharp
